﻿
.document-manager-search {
	margin-bottom: 10px;
}

.dm-section-title {
	position: relative;
	display: block;
	padding-left: 60px;
	cursor: pointer;
}
.dm-section-title:after {
	font-family: FontAwesome;
	position: absolute;
	left: 10px;
	font-size: 1.2em;
	-webkit-transition: transform 0.5s; /* Safari */
    transition: transform 0.5s;
	transition-timing-function: ease;
}
.dm-section-title.open:after {
	content: '\f0d7';

}
.dm-section-title.closed:after { 
	content: '\f0d7';
	transform: rotate(-90deg);
}

.document-manager-table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 4em !important;
}
.document-manager-table tbody tr {
    background-color: #ffffff !important;
}
.document-manager-table tr td, 
.document-manager-table tr th {
  line-height: 33px;
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #eaeaea;
}
.document-manager-table tr th {
  line-height: 1em;
  padding: 5px 20px 5px 0;
  border-bottom: 1px solid #eaeaea;
}
.document-manager-table tr td img {
  line-height: 1.4em;
  margin-right: 10px;
  vertical-align: middle;
}
.document-manager-table tr td.desc {
	display: none;
}

.document-manager h2 {
	font-size: 27px;
}

.document-manager-search input {
	width: 100%;
}

